<div class="containerPerso">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1601918774946-25832a4be0d6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80);">
    <div class="containerPerso">
      <h1>Travel feeling like home</h1>
      <p>Discover the world thanks to AirBnb and our hosts.</p>
      <a class="btn btn-flat" href="#">Discover</a>
    </div>
  </div>
</div>
