.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.btn-card {
  border: 1px solid #1BCB7F;
  border-radius: 7px;
  color: #1BCB7F;
  text-decoration: none;
  padding: 3px 7px;
  width: 100%;
  width: 30%;
  text-align: center;
  transition: 1s;
  &:hover {
    transition: 1s;
    background-color: #1BCB7F;
    color: white;
  }
}
